{% extends 'auctions/layout.html' %}

{% block title %}
  closed auctions
{% endblock title %}

{% block body %}
  <h2>Closed Auctions</h2>
  <section id="active-listings">
    {% for auction in closed_auctions %}
      <div class="card" >
      <img src="{{ auction.item.image_url }}" class="card-img-top" alt="{{ auction.item.title }}">
      <div class="username">
        {% if request.user == auction.user %}
          Listed by you
        {% else %}
          Listed by {{auction.user.username}}
        {% endif %}
      </div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'listingPage' auction.id %}">{{ auction.item.title }}</a>
          </h5>
          <p class="card-text">{{ auction.item.description }}</p>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Starting bid <span class="text-success">${{ auction.starting_bid }}</span>
          </li>
          <li class="list-group-item">
            Closing bid <span class="text-success">${{ highest_bid }}</span>
          </li>
        </ul>
      </div>
    {% endfor %}
  </section>
{% endblock body %}
